{{ partial "head.html" . }}
    <body class="white-mode">

		{{ partial "theme.html" . }}
         <div id="page-container">
             <section id="page-wrap">
                {{ partial "nav.html" . }}
                    <section id="wrapper">
                        <article class="post">
                            <header>
                                <h1>
                                    {{ .Title }}
                                </h1>
                                <h2 class="headline">
                                {{ .Date.Format "Jan 2, 2006 15:04" }}
                                · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                                · {{ .ReadingTime }} minute read
                                <span class="tags">
                                {{ with .Params.tags }}
                                {{ if ge (len .) 1 }}
                                    {{ range . }}
                                        <a style="background-color: rgb({{ delimit (first 3 (shuffle (seq 0 145))) ", "  }});"
                                        	href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">#{{ . }}</a>
                                    {{ end }}
                                {{ end }}
                                {{ end}}
                                </span>
                                </h2>
							</header>
							<hr>
                            {{ if .Site.Params.enableToc }}
                            {{ if .TableOfContents }}
                                <div id="toc">
                                {{ .TableOfContents }}
                                </div>
                            {{ end }}
                            {{ end }}
                            <section id="post-body">
                                {{ .Content }}
                            </section>
                        </article>
						<div class="post-footer">
							{{ if .Site.Params.enableShare }}
								{{ partial "share.html" . }}
							{{ end }}

							{{ if .Site.Params.enableDisqus }}
								{{ partial "disqus.html" . }}
							{{ end }}

							{{ if .Site.Params.showLatestPosts }}
								{{ partial "latest-posts.html" . }}
							{{ end }}
						</div>
                    </section>
                </section>
            {{ partial "footer.html" . }}
            </div>
        {{ partial "js.html" . }}
    </body>
</html>
