:root {
    --light-background: #fbfbfb;
    --dark-background: #292a2d;
    --light-text: #fbfbfb;
    --dark-text: #0D53B5;
	--dark-wrapper: #1f2123;
	--white-wrapper: #fff;
	--padding-card: 10px 20px;
}

body {
    font: 19px/1 'Noto Serif','Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Georgia, "Times New Roman", Times, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
}

h1 {
font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18.72px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 13.28px;
}

h6 {
    font-size: 10.72px;
}

p {
    font-size: 16px;
    letter-spacing: -.004em;
}

.post h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.home h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.8em;
}

.home h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
}

.post header h1 {
	font: 900 40px/1.7em 'Noto Serif',  'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	margin-bottom: 20px;
	letter-spacing: -1px;
}

.post h1 {
	font: bold 34px/1.5em 'Noto Serif',  'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	/* margin-bottom: -0.9em; */
	letter-spacing: 1px;
}

.post h2 {
	font: bold 26px/1.5em 'Noto Serif',  'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	/* margin-bottom: -0.9em; */
}

.post h3 {
	font: normal 20.72px/1.5em 'Noto Serif',  'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	margin-top: 50px;
	/* margin-bottom: -0.9em; */
}

.post h4 {
	font: normal 16px/1.5em 'Noto Serif',  'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	margin-top: 50px;
	/* margin-bottom: -0.9em; */
}

.profile h1 {
	letter-spacing: 0px;
	font-size: 24px;
	/* color: #222; */
	font-weight: bold;
}

.profile h2 {
	font-family: 'Dancing Script', Georgia, Times, serif;
	font-size: 24px;
	font-weight: 500;
}

#post-list a {
    /* color: #333; */
    display: block;
    font: bolder 19px/1.7 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
}

#post-list h2 {
    font: normal 15px/1.5em  'Noto Serif','Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
}

#post-body p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    /* font-family:  'Noto Serif','Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	letter-spacing: -.004em; */
	font: normal 19px 'Noto Serif',
	'Noto Sans',
	"Lucida Grande",
	"Lucida Sans Unicode",
	"Lucida Sans",
	Arial,
	serif;
	letter-spacing: -0.004em;
	line-height: 1.58;
	margin-top: 0.67em;
}

#post-body h1, #post-body h2, #post-body h3, #post-body h4{
	font-weight: 700;
	margin-top: 45px !important;
	margin-bottom: 0px;
}

.welcome-description p {
    font-family: 'Noto Serif', serif;
    /* color: #595959; */
	margin-bottom: -20px;
	font-size: 18px;
	letter-spacing: -0.004em;
	line-height: 1.5em;;
}

#page-title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    max-width: 870px;
    margin: 0 auto;
}

#page-title hr {
    margin: 20px auto;
}

#page-title h1 {
    font-size: 32px;
    margin-top: 40px;
}

#page-content h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    /* color: #333; */
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 50px;
    font-weight: bold;
}

#page-content p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    letter-spacing: -.004em;
}

#page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#page-wrap {
    flex: 1;
}

#wrapper {
    padding-bottom: 60px;
}

#wrapper.home {
	padding: 0px 20px 9px 20px;
	max-width: 870px;
}

#footer {
    max-width: 870px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px 20px;
}

#post-list li {
    margin-left: 0px;
}

/* toq */

#toc {
    font-size: 0.8em;
}

#TableOfContents ul li {
    list-style-type: none;
    line-height: 2.2em;
}

#TableOfContents ul li ul li {
    list-style-type: none;
    margin-bottom: 0px;
}


ul>li {
    margin-bottom: 15px;
}

#post-body img {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    /* padding: 10px 10px; */
    /* margin: 20px 0px; */
}

#post-body a,
#page-content a {
    text-decoration: none;
	box-shadow: inset 0 0px 0 white, inset 0 -2px 0 var(--dark-text);
}

#post-body a:hover,
#page-content a:hover {
    text-decoration: none;
}

/* nav */

nav.main-nav {
    font-weight: bolder;
    letter-spacing: 0.01em;
	max-width: 870px;
	margin: 0 auto;
	padding: 0 auto;
	padding-right: 2px;
    /* text-transform: uppercase; */
}

nav.main-nav a {
	font-size: 18px;
    padding: 8px 4px;
}

nav.main-nav a.cta {
	padding: 4px 8px;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	border: 2px solid #0a0a0a;
	border: 2px solid var(--theme-top-bar-write-color, #0a0a0a);
	color: var(--theme-top-bar-write-color, #0a0a0a);
	background: #66aee2;
	background: var(--theme-top-bar-write-background, #66aee2);
}
/* purgecss start ignore */

/* disqus */

#disqus-container {
    font-size: 0.85rem;
	/* padding: 1.5rem; */
	margin-top: 30px;
    padding-top: 2em;
    text-align: center;
}

#disqus-button {
    margin: 0 auto;
    /* background: #333; */
    padding: 8px 8px;
    font-size: 15px;
    line-height: 1.35;
	border-radius: 3px;
	border: 2px solid #0a0a0a;
    color: #0a0a0a;
	background: #fff;
}

#disqus-comments {
    display: none;
}

#disqus_thread {
    margin-top: 0px;
}

.post h2.headline .tags {
	text-transform: lowercase;
}

.tags a{
	font-size: 13px;
	background: #06599d;
	color: #fff;
	padding: 2px 5px 3px;
	margin: 2px 2px;
	border-radius: 2px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0.5px;
}


.profile .placeholder {
	width: 130px;
	height: 130px;
	margin: 0px auto;
	border-radius: 50%;
	margin-bottom: 20px;
}


/* mobile */
@media only screen and (max-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		font-size: 16px;
	}

	.post header h1 {
		font: bolder 30px/1.7em 'Noto Serif',
			'Noto Sans',
			"Lucida Grande",
			"Lucida Sans Unicode",
			"Lucida Sans",
			Arial,
			serif;
		margin-bottom: 0px;
		letter-spacing: -1px;
	}

	.post h1 {
		font: bold 26px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		/* margin-bottom: -0.9em; */
		letter-spacing: 1px;
	}

	.post h2 {
		font: bold 22/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		/* margin-bottom: -0.9em; */
	}

	.post h3 {
		font: normal 16.72px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		margin-top: 50px;
		/* margin-bottom: -0.9em; */
	}

	.post h4 {
		font: normal 16px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		margin-top: 50px;
		/* margin-bottom: -0.9em; */
	}

	.profile h1 {
		letter-spacing: 0px;
		font-size: 18px;
		/* color: #222; */
		font-weight: bold;
	}

	.profile h2 {
		font-family: 'Dancing Script', Georgia, Times, serif;
		font-size: 18px;
		font-weight: 500;
	}

	#post-body p {
		--x-height-multiplier: 0.375;
		--baseline-multiplier: 0.17;
		/* font-family:  'Noto Serif','Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	letter-spacing: -.004em; */
		font: normal 16px 'Noto Serif',
			'Noto Sans',
			"Lucida Grande",
			"Lucida Sans Unicode",
			"Lucida Sans",
			Arial,
			serif;
		letter-spacing: -0.004em;
		line-height: 1.58;
		margin-top: 2em;
	}
	
	#disqus-button {
		font-size: 13px;
	}

	.tags a {
		font-size: 13px;
	}

}

.white-mode{
	color: #333 !important;
	background: #fbfbfb !important;
	/* transition: all 500ms ease; */
}

.dark-mode {
	color: rgba(205,205,205) !important;
	background: #292a2d !important;
	/* transition: all 500ms ease; */
}


/* Gradient transparent - color - transparent */

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

code{
	font-size: 14px;
	white-space: pre-wrap; 
	color: #545454;
	tab-size: 2;
}

.dark-mode #post-list a,
.dark-mode a.symbol {
	color: #fff;
}

.dark-mode .post a,
.dark-mode #post-list a:hover,
.dark-mode p a,
.dark-mode nav.main-nav a:not(.cta),
.dark-mode .archive .post-link {
	color: #0D53B5;
}

.dark-mode .tags a {
	color: #fff;
}

.dark-mode #disqus-button{
	/* background: #fff;
	color: #333; */
	border: 2px solid #fff;
	color: #fff;
	background: #333333;
}

.dark-mode #toc{
	background-color: #29292e;
}


blockquote{
	border-left: 2px solid #bd792f;
	padding-left: 1.2rem;
	margin-left: -0.9rem;
	line-height: 2.2rem;
	font-weight: 400;
	font-style: italic;
}

.typewriter {
  display: inline-block;
}

.typewriter h1 {
  font-family: 'Waiting for the Sunrise', cursive;	
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #0D53B5; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#role-desc {
	color: #bd792f;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0D53B5; }
}

a {
  color: #0D53B5;
}

/* progresive image loading css */
.placeholder {
	background-color: #f6f6f6;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	width: 100%;
	/* float: left; */
	margin: 50px auto;
	line-height: 0;
	border: 0.5px solid #292a2d;
	border-radius: 4px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;
	height: auto;
}

.placeholder img {
	position: relative;
	opacity: 0;
	/* top: 0;
	left: 0; */
	width: 100%;
	transition: opacity 1s linear;
}

.placeholder img.loaded {
	opacity: 1;
}

.img-small {
	filter: blur(50px);
	/* this is needed so Safari keeps sharp edges */
	transform: scale(1);
}

.image_placeholder {
	/* padding-top: 00px; */
    padding: 20px 60px;
	display: block;
	border-radius:  0.375rem;
}

body.white-mode #post-list h2 {
	color: #0c0c0ce8;
}

.profile #wrapper-prof {
	padding: 50px 20px 0px 20px;
	/* width: 870px; */
}

#wrapper {
	padding: 20px 20px 20px;
}

#post-nav {
	padding-top: 10px;

}

#wrapper > .post {
	background-color: var(--white-wrapper);
	padding: var(--padding-card);
	border-radius: 10px;
}


#wrapper > .post-footer {
	padding-top: 20px;
}

#wrapper > .post-footer > #disqus-container {
	margin-top: 0px;
	padding-top: 0px;
}

#wrapper > .post-footer > a {
	background-color: var(--white-wrapper);
	padding: 5px 10px;
	border-radius: 5px;
}

body.dark-mode #wrapper > .post-footer > a {
	background-color: var(--dark-wrapper);
}

body.dark-mode #wrapper > .post{
	background-color: var(--dark-wrapper);
}


@media only screen and (max-device-width: 520px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	body {
		-x-height-multiplier: 0.375;
		--baseline-multiplier: 0.17;
		font: normal 14px 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		letter-spacing: -0.004em;
		line-height: 1.58;
		margin-top: 1.2em;
	}

	#wrapper {
		padding: 0px;
	}

	#wrapper .post {
		border-radius: 0px;
	}

	hr {
		margin: 20px auto;
	}

	.image_placeholder {
    	padding: 20px 20px;
		display: block;
	}

	#wrapper>.post-footer>#disqus-container {
		margin-top: 0;
		padding-top: 30px;
	}

	.post {
        margin: 0px;
    }

	.post header h1 {
		font: bolder 26px/1.7em 'Noto Serif',
			'Noto Sans',
			"Lucida Grande",
			"Lucida Sans Unicode",
			"Lucida Sans",
			Arial,
			serif;
		margin-bottom: 0px;
		letter-spacing: -1px;
		margin-top: 10px;
	}

	.post header h2.headline {
		margin-top: 10px;
	}

	.post h1 {
		font: bold 24px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		/* margin-bottom: -0.9em; */
		letter-spacing: 1px;
	}

	.post h2 {
		font: bold 18px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		/* margin-bottom: -0.9em; */
	}

	#post-body h2 {
		margin-top: 22px !important;
	}

	#post-body h3 {
		margin-top: 20px !important;
	}

	.post h3 {
		font: normal 16.72px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		margin-top: 50px;
		/* margin-bottom: -0.9em; */
	}

	.post h4 {
		font: normal 16px/1.5em 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		margin-top: 50px;
		/* margin-bottom: -0.9em; */
	}

	.profile h1 {
		letter-spacing: 0px;
		font-size: 18px;
		/* color: #222; */
		font-weight: bold;
	}

	.profile h2 {
		font-family: 'Dancing Script', Georgia, Times, serif;
		font-size: 18px;
		font-weight: 500;
	}

	#post-body p {
		--x-height-multiplier: 0.375;
		--baseline-multiplier: 0.17;
		/* font-family:  'Noto Serif','Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
	letter-spacing: -.004em; */
		font: normal 16px 'Noto Serif',
			'Noto Sans',
			"Lucida Grande",
			"Lucida Sans Unicode",
			"Lucida Sans",
			Arial,
			serif;
		letter-spacing: -0.004em;
		line-height: 1.58;
		margin-top: 1.2em;
	}

	#post-body ol {
		
		margin-left: -30px;
	}
	
	#disqus-button {
		font-size: 13px;
	}

	.tags a {
		font-size: 13px;
	}

	.placeholder {
		margin: 20px auto;
	}

	#post-body ul>li {
		font-size: 16px;
		margin-bottom: 0px;
	}

	#post-body ol>li {
		--x-height-multiplier: 0.375;
		--baseline-multiplier: 0.17;
		font: normal 16px 'Noto Serif', 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, serif;
		letter-spacing: -0.004em;
		line-height: 1.58;
		margin-top: 0.5em;
	}

	#post-body ul>li>p {
		margin-bottom: 10px !important;
		margin-top: 0px;;
	}

	#post-list a {
		font-size: 16px;
	}

	#post-list li+li {
		padding-top: 0px;
	}

	#post-list h2 {
		margin-top: 10px;
	}

	/*  make hr after #post-list li */
	#post-list li::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #e6e6e6;
		margin-top: 10px;
	}

	#post-nav {
		margin-top: 30px;

		padding-top: 0px;
	}

	nav.main-nav {
		margin-top: 0px;
		padding: 0px;
	}

	nav.main-nav::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: #5b5b5b0f;
		margin-top: 10px;
	}
	
	
	nav.main-nav a {
		font-size: 16px;
	}

	.white-mode { 
		padding-top: 0px;
		margin-top: 0px;
	}

	body.white-mode #post-list h2 {
		color: #0c0c0ce8;
		font-size: 12px;
	}

	.profile #wrapper-prof {
		padding: 0px;
	}

	.post-footer {
		text-align: center;
	}
}

body.white-mode a, body.white-mode #title, body.white-mode #post-list a:hover, body.white-mode #title:hover {
    color: var(--dark-text) !important;
}

body.white-mode #post-body a {
	color: var(--white-text) !important;
	font-weight: normal;
}

body.white-mode #post-list a {
    color: #0a0a0a !important
}

body.white-mode li > a {
    color: #000 !important;
}

body.white-mode p a {
    color: #000 !important;
}

body.white-mode #post-body a {
    text-decoration: none;
	box-shadow: inset 0 0px 0 white, inset 0 -2px 0 var(--dark-text);
}

body.dark-mode #post-body a {
	box-shadow: inset 0 0px 0 white, inset 0 -2px 0 var(--light-text);
}

body.dark-mode a, body.dark-mode #title, body.dark-mode #post-list a:hover, body.dark-mode #title:hover {
    color: var(--light-text) !important;
}
body.dark-mode #post-list a {
    color:var(--light-text) !important;
}

body.dark-mode #post-list h2 {
    color:#ffffffd1 !important;
}

body.dark-mode li > a {
    color: var(--light-text) !important;
}

body.dark-mode p a {
    color: var(--light-text) !important;
}

body.white-mode span a {
    color: var(--light-text) !important;
}

body.dark-mode span a {
    color: var(--light-text) !important;
}

body.dark-mode .prev a, body.dark-mode  .next a {
    color: var(--light-text) !important;
}
.prev {
	margin-right: 5px;
}

#social p {
	font-size: 14px;
}

#footer a {
	text-decoration: underline;
}


/* pre code {
	background: none !important;
	font-size: 12px !important;
} */

body.dark-mode code {
	/* background-color: #d7d !important; */
	font-size: 14px;
	padding: 1px 3px;
	color: #bd792f;
}

body.white-mode code {
	background-color: #f1f3f4;
	font-size: 14px;
	padding: 1px 3px;
	color: #bd792f;
}


pre > code {
	background-color: unset !important;
	font-size: 12px !important;
}

body.dark-mode pre code {
	color: #ebebeb;
	background: none !important;
}

body.white-mode pre code {
	color: #ebebeb;
}

body.dark-mode .token.operator {
	background: none !important;
}

body.dark-mode code {
	padding: 1px 3px;
	color: #dc8a2d;
	background-color: #323232 !important;
}

body.dark-mode #post-list > li > a:hover {
	color: #cdcdcd !important;
}

body.white-mode #post-nav span {
	background-color: var(--white-wrapper);
    padding: 8px 10px;
    border-radius: 5px;
	color: var(--dark-text) !important;
}

body.white-mode #post-nav span> a {
	color: var(--dark-text) !important;
}

body.dark-mode #post-nav span {
	background-color: var(--dark-wrapper);
    padding: 8px 10px;
    border-radius: 5px;
	color: var(--light-text) !important;
}

body.dark-mode #post-nav span> a {
	color: var(--light-text) !important;
}

#post-nav span > a > span {
	padding: 0px !important;
}

.highlight {
	margin-right: -20px !important;
	margin-left: -20px !important;
}

.highlight pre {
	border-radius: unset !important;
	background-color: #252a37 !important;
}

#post-body h1::before, #post-body h2::before, #post-body h3::before, #post-body h4::before, #post-body h5::before, #post-body h6::before {
	content: "# ";
	color: #bd792f;
}

/* purgecss end ignore */